.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background-color: rgb(241, 241, 233);
}

.logo {
  width: 90px;
}

.nav-items {
    padding: 0 20px 0;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  font-size: 20px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
